@import "links.css";
@import "intro.css";
@import "grid.css";
* {
  box-sizing: border-box;
}

/*From w3Schools*/
.col-9 {
  width: 50%;
}

/*From w3Schools*/
.col-3 {
  width: 50% z;
}

#plink {
  border: none;
  background-color: #effffb;
  color: #4f98ca;
  padding: 2px;
  font-size: 20px;
}

#plink:hover, #plink:active {
  background-color: #990000;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #effffb;
}

.socl {
  margin: 0;
}

.fetty {
  height: 400px;
  width: 100%;
  box-shadow: 5px 5px #990000;
}

.blogimg {
  box-shadow: 5px 5px #990000;
  height: 330px;
  width: 200px;
}

/*From w3Schools*/
.header {
  background-color: #effffb;
  padding: 1px;
  text-align: center;
  font-size: 35px;
  letter-spacing: 5px;
  line-height: 30px;
  color: #272727;
  font-family: "Bungee Outline", cursive;
  width: 100%;
  text-decoration: underline;
}

/*From w3Schools*/
.row {
  display: flex;
}

/*From w3Schools*/
.column {
  padding: 10px;
  height: 300px;
  margin: 10px;
}

/*From w3Schools*/
nav {
  background-color: #4f98ca;
}

.blogt {
  font-family: "Teko", sans-serif;
  font-size: 35px;
  color: #4f98ca;
  text-decoration: underline;
}

#feth {
  font-family: "Teko", sans-serif;
  font-size: 35px;
  color: #fff;
  text-decoration: underline;
}

.fetp {
  width: 100%;
  background-color: #4f98ca;
  height: auto;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  width: 700px;
  padding: 10px;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100%;
  margin-top: 10px;
  text-align: justify;
}

.fetc {
  padding: 15px;
  background-color: #4f98ca;
  width: 500px;
}

.column.one {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 4;
  background-color: #4f98ca;
  border: 5px solid #990000;
  height: 450px;
}

.column.two {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 4;
  background-color: #50d890;
  border: 5px solid #990000;
  height: 450px;
}

.column.three {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 4;
  background-color: #4f98ca;
  border: 5px solid #990000;
  height: 450px;
}

/*From w3Schools*/
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/*From w3Schools*/
@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding: auto;
  }

  .fetty {
    height: 220px;
    width: 250px;
  }

  .blogt {
    font-size: 27px;
  }

  .flex-container {
    -webkit-flex-direction: column;
    flex-direction: column;
    text-align: center;
    padding: auto;
  }

  .fetc {
    -webkit-flex-direction: column;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    width: auto;
    height: auto;
  }

  .fetp {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 5px;
  }

  .header {
    font-size: 17px;
  }
}
@media (max-width: 1024px) {
  .row {
    flex-direction: column;
  }
}
.col-9 {
  width: 100%;
}

.col-3 {
  width: 100%;
}

.val {
  display: grid;
  grid-template-areas: "menu main main main right right" "menu footer footer footer footer footer";
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
  width: 500px;
}

.val > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

/*# sourceMappingURL=blog.css.map */
